[2019-06-18 08:57] imayank91 opened #1 "Please rev the version of okio depedency to version 1.17.4(minimum)."
I have multiple sdk's which use the latest version of okio dependency. As cometchat-pro uses okio as a jar file there's no way I can exclude it. If you can please rev the okio version and release it, it would be very helpful

Duplicate class okio.AsyncTimeout found in modules okio-1.15.0.jar (com.cometchat:pro-android-chat-sdk:1.7.0) and okio-1.17.4.jar (com.squareup.okio:okio:1.17.4)

[2019-06-18 09:55] adityagokula2210 commented on #1
Hello @imayank91
We have already made the changes and now we have removed the jar files for okttp and okio and have added them as Gradle dependencies. So that in case there is conflict, you can easily exclude the okio dependency. This change will be live in the next version of the CometChat Pro android SDK  which is 1.8.0 scheduled to go live in a couple of days or latest by early next week. If yo

[2019-06-19 04:06] imayank91 commented on #1
I tried using the beta-1.7.1, throws an error _"The given artifact contains a string literal with a package reference 'android.support.v4.widget' that cannot be safely rewritten. Libraries using reflection such as annotation processors need to be updated manually to add support for androidx."_

I think the library is still using the android support library instead of androidx

[2019-06-19 06:26] imayank91 commented on #1
Are you using butterknife? You need to update the version of that so that I can get rid of this error

[2019-06-19 11:53] adityagokula2210 commented on #1
Hello @imayank91
We are not using butterknife in our SDK.
Can you please share your build.gradle file so that I can have a look at what is causing the conflict.

Thanks

[2019-06-19 12:15] imayank91 commented on #1
Here you go
[code]

[2019-06-19 12:26] adityagokula2210 commented on #1
@imayank91
Can you also paste the stacktrace of the error that you are getting..?

[2019-06-19 12:29] imayank91 commented on #1
`The given artifact contains a string literal with a package reference 'android.support.v4.widget' that cannot be safely rewritten. Libraries using reflection such as annotation processors need to be updated manually to add support for androidx.`

[2019-06-19 15:59] adityagokula2210 commented on #1
@imayank91
Can you try excluding the 'android.support.v4.widget' dependency from the CometChat dependency by adding the below line to the CometChat dependency
implementation ('com.cometchat:pro-android-chat-sdk:beta-1.7.1') {
       exclude module: 'support-v4'
    }

Thanks

[2019-06-20 01:31] imayank91 commented on #1
No luck, it's the same

[2019-06-20 04:25] imayank91 commented on #1
I was able to solve this for now using

`android.jetifier.blacklist = support-v4`

Do you have a plan to migrate the sdk from v4 to androidx.

[2019-06-20 13:30] adityagokula2210 commented on #1
@imayank91
Yes. We have added it to our task list and will take it up as soon as possible. Thank you for pointing this out.

Thanks.

[2019-06-20 13:30] #1 closed, assigned to nobody

[2019-06-25 06:30] pradeeprkotha opened #2 "Uable to build app with comet chat lib"
I am using following comet chat library
implementation 'com.cometchat:pro-android-chat-sdk:1.5.+'

I am getting following error while running the application.

error: cannot access zza
class file for com.google.android.gms.common.internal.safeparcel.zza not found

[2019-06-25 10:59] yadavmangesh commented on #2
Hey @pradeeprkotha
Can you please share your app level `build.gradle`.Seems like your issue with your play service
You can refer to this issue
 https://stackoverflow.com/questions/52179251/error15-55-error-cannot-access-zza-class-file-for-com-google-android-gms-co

[2019-06-25 17:07] pradeeprkotha commented on #2
Hi, Please find the gradle file.

##########################################

import java.text.DateFormat
import java.text.SimpleDateFormat

def getDateTime() {
    DateFormat df = new SimpleDateFormat("yyyy-MM-dd")

    return df.format(new Date())
}

buildscript {
    repositories {
        maven { url 'https://maven.fabric.io/public' }
    }

    dependencies {
        classpath 'io.fabric.tool

[2019-06-26 05:45] yadavmangesh commented on #2
@pradeeprkotha
Please upgrade your Firebase Dependencies to latest. This issue may not be related to CometChat SDK

[2019-06-26 07:13] pradeeprkotha commented on #2
Hi Mangesh,

Thanks for your reply, we are not using any firebase libs. without comchat
sdk we are able to build app without any errors. we are getting issue
whenever we add comchat SDK. Please help me out. Thanks!

On Wed, Jun 26, 2019 at 11:15 AM Mangesh Yadav <notifications@github.com>
wrote:

--
*Thanks & Regards*
*Pradeep Reddy Kotha*
Mobile: 9030934522

[2019-06-26 08:27] yadavmangesh commented on #2
Hey @pradeeprkotha
We were trying to replicate your problem at our end with your Dependencies. So if you upgrade to v1.7 `implementation 'com.cometchat:pro-android-chat-sdk:1.7.2'`that will solve your issue

For Latest Features in SDK v1.7, you can check our Documentation https://prodocs.cometchat.com/docs/android-quick-start

[2019-06-27 12:47] ranjanravi85 commented on #2
Hello @pradeeprkotha Can you please update if your issue is resolved or not

[2019-06-27 13:00] im-ng opened #3 "Mute issue with audio calls"
Connected audio call always stay with mute state. Not able to unmute for conversation.

Dependency used:

[code]

[2019-06-27 13:15] pradeeprkotha commented on #2
Hi Team,

Not yet. i will check again and let you know by EOD. Thanks!

On Thu, Jun 27, 2019 at 6:17 PM ranjanravi85 <notifications@github.com>
wrote:

--
*Thanks & Regards*
*Pradeep Reddy Kotha*
Mobile: 9030934522

[2019-06-28 10:15] adityagokula2210 commented on #3
@ng28
Can you please confirm if the necessary permissions are granted to the app.

`<uses-permission android:name="android.permission.CAMERA" />`
`<uses-permission android:name="android.permission.RECORD_AUDIO" />`

These are the two permissions required for audio/video calling. I dont think this problem should occur if the necessary permissions are granted. Please confirm.

Thanks!

[2019-06-28 10:45] im-ng commented on #3
@adityagokula2210 Yep you are correct. Seems we messed with permission order in our app launch. I am able to mute/unmute with record_audio permission now. Thanks for clarification.

[2019-06-28 10:47] adityagokula2210 commented on #3
No Problem.. happy to help.
Closing the issue.

Thanks!

[2019-06-28 10:47] #3 closed, assigned to nobody

[2019-07-08 18:37] adityagokula2210 opened #4 "Message Category custom not handled by the SDK"
SDK needs to add support for Message category custom

[2019-07-08 18:45] adityagokula2210 commented on #2
Marking the issue closed due to inactivity.

[2019-07-08 18:45] #2 closed, assigned to nobody

[2019-07-11 08:06] ghanshyammansata opened #5 "Metadata not getting in the Users list (v1.8.0)"

[2019-07-11 16:10] adityagokula2210 commented on #4
Issue fixed with CometChat android SDK version 1.8.2

[2019-07-11 16:10] #4 closed, assigned to nobody

[2019-07-11 16:11] adityagokula2210 commented on #5
Issue fixed with CometChat android SDK version 1.8.2

[2019-07-11 16:11] #5 closed, assigned to nobody

[2019-07-16 07:41] justlogout opened #6 "Problem with CustomMessage in Caching Extension"
Hi, I implemented Caching Extension in Android and found some problems with CustomMessage.
When u send CustomMessage to me in “messagesRequest.fetchPrevious()” that u give me JSON like this:
CustomMessage{
    subType=‘null’,
    customData=null,
    id=1204,
    muid=‘null’,
    sender=User{
        uid=‘5d25c57f6bff1f68194bef43’,
        name=‘Rene Voly’,
        email=‘null’,
        avatar=‘li

[2019-08-09 14:49] yadavmangesh opened #7 "[1.8.3] Incorrect Text Message validation with Message Type MESSAGE_TYPE_IMAGE"
**Describe the bug**
While Sending a text message with messageType `MESSAGE_TYPE_IMAGE` it shows: A file input is required for the message type image under category message instead of showing that text message requires `MESSAGE_TYPE_TEXT` as messageType

**To Reproduce**
Steps to reproduce the behavior:
1. Login with UID
2. Send Text Message with  messageType `MESSAGE_TYPE_IMAGE`

**Expected behav

[2019-08-12 11:18] yadavmangesh opened #8 "[1.8.3] Parameter validation in constructor of TextMessage, MediaMessage,CustomMessage and CallMessage"
**Describe the bug**
 Validation for the required parameter in constructors  is not working

**To Reproduce**
Steps to reproduce the behavior:
Pass Different parameters than required in the constructor

**Expected behavior**
  Compile-time error or Warning for passing the Wrong Parameter in the constructor

**Actual behavior**
Error response in `onError()` method

**Enviorment/Platfrom (please com

[2019-08-13 15:21] yadavmangesh opened #9 "[1.8.3] MUID is null in response Message"
**Describe the bug**
While sending a text message `MUID` is been set but in `onSucess()`     `MUID `  is null in the message object

**To Reproduce**
Steps to reproduce the behavior:
 send a text message with and set  MUID in the message object

**Expected behavior**
 Set value of MUID should be return in `onSucess()`  response

**Actual behavior**
 null value of MUID in  `onSucess()`

**Enviormen

[2019-08-19 04:58] yadavmangesh opened #10 "[1.8.3] Validation required in request Builder classes such as UsersRequest , GroupRequest , MessageRequest"
**Describe the bug**
 Null or random values can be set in the current Request Builder classes

**To Reproduce**
Example
[code]

[code]

**Expected behavior**
Should have given an error or warning on setting null values or other than  required

**Actual behavior**
   returns result even after setting null values in the builder

**Enviorment/Platfrom (please complete the following information):**
 -

[2019-08-22 15:19] jitvarpatil opened #11 "[1.8.0] 64-bit Architecture support"
**Describe the bug**
Currently, SDK is not supported for 64-bit Architecture and Google has made it compulsory for App to have 64-bit compatibility to publish app on PlayStore.

[2019-09-09 11:43] sushil-kumr opened #12 "Hello Comet, I am facing problem sometimes while using your Chat SDK. Please check this error and let us know."
2019-09-09 17:04:43.337 11366-11366/co.speakto.advisor E/ActivityThread: Activity co.speakto.advisor.Activities.ChatActivity has leaked IntentReceiver com.cometchat.pro.core.NetworkChangeReceiver@9c5b6d3 that was originally registered here. Are you missing a call to unregisterReceiver()?
    android.app.IntentReceiverLeaked: Activity co.speakto.advisor.Activities.ChatActivity has leaked IntentRece

[2019-09-18 12:18] adityagokula2210 commented on #9
Fixed

[2019-09-18 12:18] #9 closed, assigned to nobody

[2019-09-18 12:19] adityagokula2210 commented on #6
Fixed

[2019-09-18 12:19] #6 closed, assigned to nobody

[2019-09-18 12:20] adityagokula2210 commented on #7
Fixed

[2019-09-18 12:20] #7 closed, assigned to nobody

[2019-09-18 20:55] aldrek opened #13 "Call and video keep crashing"
E/unknown:ViewManager: Error while updating prop source
   java.lang.reflect.InvocationTargetException

java.lang.NoSuchMethodError: No virtual method diskCacheStrategy(Lcom/bumptech/glide/load/engine/DiskCacheStrategy;)Lcom/bumptech/glide/request/RequestOptions; in class Lcom/bumptech/glide/request/RequestOptions; or its super classes (declaration of ‘com.bumptech.glide.request.RequestOptions’ ap

[2019-09-19 13:05] pushpsenairekar2911 opened #14 "[1.8.8] Inconsistency in naming for action message for Scope changed"
*Describe the bug**
On Android, we get "System made Joe Doe admin" text
On iOS, we get "Joe Doe's scope changed from participant to participant" text

**Expected behavior**
Action message should be the same.

**Actual behavior**
getting different action message for the same action.

[2019-09-19 14:05] adityagokula2210 commented on #14
@pushpsenairekar2911
Please list down the text we provide for all the action messages here and i will list down the text we use for android. @mayur-bhandari , please list down the text for action messages used in javascript SDK too. Let's compare and come to a final list and then make the changes..??

[2019-09-19 14:08] adityagokula2210 commented on #14
For android,

public static final String ACTION_GROUP_JOINED_MESSAGE = "superhero1 joined";
        public static final String ACTION_GROUP_LEFT_MESSAGE = "superhero1 left";
        public static final String ACTION_MEMBER_KICKED_MESSAGE = "superhero1 kicked superhero2";
        public static final String ACTION_MEMBER_BANNED_MESSAGE = "superhero1 banned superhero2";
        public static final St

[2019-09-19 14:31] pushpsenairekar2911 commented on #14
For iOS,

public static let ACTION_GROUP_JOINED_MESSAGE = "superhero1 joined";

        public static let ACTION_GROUP_LEFT_MESSAGE = "superhero1 left
Comic hero's";

        public static let ACTION_MEMBER_KICKED_MESSAGE = "superhero1 kicked
superhero2 ";

        public static let ACTION_MEMBER_BANNED_MESSAGE = "superhero1 banned
superhero2";

        public static let ACTION_MEMBER_UNBANNED_MES

[2019-09-19 14:52] mayur-bhandari commented on #14
@aditya.gokula@inscripts.com
We have to make changes only in v2 or in both v1.8 and v2?

On Thu, Sep 19, 2019 at 8:01 PM pushpsenairekar2911 <
notifications@github.com> wrote:

[2019-09-20 08:25] adityagokula2210 commented on #13
Hello @Ahmadgsalman
We have identified the issue. The issue is caused due to multiple version of glide dependency downloaded transitively from various other dependencies. Due to which gradle is always taking the latest version of glide which is available from the dependencies. The ideal solution here is to force gradle to use a specific version of the glide dependency. In your case, I would sugges

[2019-09-20 11:45] aldyrpl commented on #13
not working, keep crashing when calling

[2019-09-20 13:09] adityagokula2210 commented on #13
@aldyrpl
Can you please share your Gradle file here so that I can have a look at the same. I will try creating a sample app with the same gradle file and test the same at my end.

[2019-09-20 13:31] adityagokula2210 commented on #13
@aldyrpl
Can you pelase add the below lines to the android section of the app level gradle file:

configurations.all {
        resolutionStrategy.force 'com.github.bumptech.glide:glide:4.8.0'
    }
and then try running the app..

[2019-09-20 13:34] adityagokula2210 commented on #13
Sorry.
I see you have already added the lines.
Can you make sure the error is the same that was occurring earlier

[2019-09-23 02:07] adityagokula2210 commented on #13
@Ahmadgsalman @aldyrpl
Please let us know if this is issue has been resolved so that I can close this issue.

Thanks

[2019-09-24 10:46] adityagokula2210 commented on #14
Resolved

[2019-09-24 10:46] #14 closed, assigned to nobody

[2019-09-24 11:13] adityagokula2210 commented on #11
Resolved in the latest version.

[2019-09-24 11:13] #11 closed, assigned to nobody

[2019-09-25 09:23] yadavmangesh opened #15 "[2.0.0-beta4] Override hashCode() , equals() , clone() ,toStrings() in all pojo classes of CometChat Pro SDK"
**Describe the bug**
`hashCode()` and `equals()` are not overriden in all POJO classes

**Expected behavior**
   all objects are available for comparison using `equals()`

**Actual behavior**
   methods not available in POJOs

**Enviorment/Platfrom (please complete the following information):**
 - CometChat SDK Version[2.0.0-beta4]

[2019-09-30 10:03] #13 closed, assigned to nobody

[2019-10-09 18:16] adityagokula2210 commented on #10
Done

[2019-10-09 18:16] #10 closed, assigned to nobody

[2019-10-09 18:16] adityagokula2210 commented on #8
Done

[2019-10-09 18:16] #8 closed, assigned to nobody

[2019-10-22 11:22] adityagokula2210 opened #16 "[1.8.8] No Callbacks triggered due to network loss while call in progress"
**Describe the bug**
No Callbacks triggered due to network loss while call in progress

[2019-10-24 13:55] darshanbhanushali opened #17 "[1.8.8] Audio call can be switched to Video Call"
**Describe the bug**
Audio Call can be switch to Video call through Video call button on screen.

**Expected behavior**

  Video call button must be disabled, so Audio call cannot be switched to Video Call

**Actual behavior**

  Audio call can be switched to Video call.

**Enviorment/Platfrom (please complete the following information):**
 - CometChat SDK Version[1.8.8]

[2019-11-04 10:53] adityagokula2210 commented on #15
Released in 2.0.0-beta9

[2019-11-04 10:53] #15 closed, assigned to nobody

[2019-11-04 11:00] adityagokula2210 commented on #12
Unable to reproduce.
Closing the issue as the issue was not replicated at our end.

[2019-11-04 11:00] #12 closed, assigned to nobody

[2019-11-06 01:03] BY-AJ opened #18 "[SDK-Version] 1.8 Pull Message"
**Describe the bug**
When pulling the message,return fetching failed with exception: Request Already in Progress

![158221f9b4000510bef6b84177d3970](https://user-images.githubusercontent.com/32251261/68259247-5164fa80-0074-11ea-95e5-72bf36993c1b.png)

[2019-11-29 06:24] dilnawaz45 opened #19 "Voice Calling not working in WiFi Conncetion."
Dear Sir,

I had made voice calling an Android app but I had faced a problem
When I make a call using a WiFi connection, applications are disconnected and automatically restarted. But when I used cellular data, my app was working fine.

Please send me the solution.
Thank you

[2019-11-29 06:28] dilnawaz45 opened #20 "Voice calling is only working on loudspeakers"
Dear Sir,

I had made voice calling (Only audio calling) an Android app but I had faced a problem
Voice calling is only working on loudspeakers. I want audio calling without loudspeaker

Please send me the solution.
Thank you

[2019-12-03 20:24] adityagokula2210 commented on #18
Hello @BY-AJ
Apologies for the late reply. This is the default behavior of the SDK. Since while fetching messages there is pagination involved, we cannot let two requests to be executed simultaneously. Thus, if a request to fetch messages is already in progress, the SDK returns the exception saying request already in progress. You can ignore this exception and call the fetchNext() or fetchPrevious

[2019-12-03 20:24] #18 closed, assigned to nobody

[2019-12-10 20:34] medalibenmansour commented on #2
Hello,

I have the same issue with the two versions '1.5.+' and '1.7.2' of dependancy 'pro-android-chat-sdk' but when i have updated to 2.0.1 it works !

implementation 'com.cometchat:pro-android-chat-sdk:2.0.1'

[2019-12-12 07:23] darshanbhanushali commented on #20
Hi @dilnawaz45 Thank you for reporting the issue, We are working on Calling Functionality and will let you know once it is updated.

[2019-12-13 15:06] darshanbhanushali opened #21 "[2.0.1] Audio/Video Call shows blank screen on network loss while call is running."
**Describe the bug**
After connectivity loss, call view freezes for something like 10 seconds, and during this time if network appears the call is reconnected, but after this 10 seconds call view entirely disappears with no callback, and you can not reconnect to call anymore. Is there any workaround or fix for this problem?

**Expected behavior**

  Call must reconnect again after connection re-es

[2019-12-15 18:19] Arrefelt opened #22 "[2.0.1] Reasons for minSdkVersion 21"
Just wondering what features of the CometChat SDK requires API 21 and if there are any plans on lowering it?

Since our app is currently only requiring 16, it's a somewhat big jump for us to even be able to use CometChat. As of now, seems like about 10,7% of Android users are on <21 and 6.9% are on 19, so being able to lower to at least 19 would be great.

[2019-12-16 08:54] adityagokula2210 commented on #22
Hello @Arrefelt
Unfortunately, we do not plan to reduce the minimum SDK version for the CometChat Android SDK any time in the near future. The main reason for this is that our calling component uses various webrtc related components that require the minimum SDK version to be set to 21.
We regret the inconvenience caused.

[2019-12-16 09:33] Arrefelt commented on #22
Ok, thanks for the clarification!

[2019-12-16 09:33] #22 closed, assigned to nobody

[2020-01-13 04:33] aldy-deptech opened #23 "[2.0.0-beta4] Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'void org.jivesoftware.smack.AbstractXMPPConnection.addAsyncStanzaListener(org.jivesoftware.smack.StanzaListener, org.jivesoftware.smack.filter.StanzaFilter)' on a null object reference"
**Describe the bug**
When connecting / login to cometchat

**To Reproduce**
com.cometchat.pro.core.XMPPConnectionService.handlePresenceSubscriptions (XMPPConnectionService.java:405)
com.cometchat.pro.core.XMPPConnectionService.access$1200 (XMPPConnectionService.java:100)
com.cometchat.pro.core.XMPPConnectionService$8.run (XMPPConnectionService.java:332)
java.lang.Thread.run (Thread.java:764)

**Ex

[2020-01-13 04:35] aldy-deptech opened #24 "[2.0.0-beta4] Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'java.lang.String org.jivesoftware.smack.AbstractXMPPConnection.getUser()' on a null object reference com.cometchat.pro.core.XMPPConnectionService.subscribeToNode"
Describe the bug
When connecting / login to cometchat

To Reproduce
com.cometchat.pro.core.XMPPConnectionService.subscribeToNode (XMPPConnectionService.java:441)
com.cometchat.pro.core.XMPPConnectionService.handlePresenceSubscriptions (XMPPConnectionService.java:404)
com.cometchat.pro.core.XMPPConnectionService.access$1200 (XMPPConnectionService.java:100)
com.cometchat.pro.core.XMPPConnectionServi

[2020-01-13 07:59] adityagokula2210 commented on #23
hello @aldy-deptech
we have released a new version of the CometChat Android SDK (version 2.0.2) a couple of days back. in this version, we have made a lot of optimizations for the init and login flow.. upgrading to this version should resolve this issue for you. If you still encounter this issue, please let us know and we will be happy to help you further
Also, it seems that you are calling the Co

[2020-01-13 08:02] adityagokula2210 commented on #24
As mentioned in issue #23, we have fixed this issue in  version 2.0.2 of the Android SDK,
The cause of the issue is the same as mentioned in #23
We are closing this issue so as to have a single point of communication regarding the issue and any further communication can be taken up on #23
Hope this helps

[2020-01-13 08:02] #24 closed, assigned to nobody

[2020-01-27 14:51] #23 closed, assigned to nobody

[2020-01-27 14:54] adityagokula2210 opened #25 "[2.0.2] Multiple Calls handling in the SDK"
**Describe the bug**
When on a one to one call and a group call comes in the background

**To Reproduce**
Steps to reproduce the behavior:
1. User A calls User B
2. User B answers the call
3. User A and User B are connected
4. Either user A or User B receives a group call
5. You call the rejectCall method with the status set as `CALL_STATUS_BUSY` from the onIncomingCallReceived() callback of the C

[2020-01-31 11:39] adityagokula2210 opened #26 "[2.0.2] Custom message on delete returns null"
**Describe the bug**
Custom message on delete returns null

**To Reproduce**
1. send this:
val customMessage = CustomMessage(convId, receiverType, “Location”, customData)

2. delete it
and this method below in receiver’s side will get null message
CometChat.addMessageListener(“message_listener”, object : CometChat.MessageListener() {
override fun onMessageDeleted(message: BaseMessage?) {
Timber.e(

[2020-02-11 20:12] adityagokula2210 commented on #26
This issue has been resolved in the latest version(*2.0.3*) of the Android SDK.

[2020-02-11 20:12] #26 closed, assigned to nobody

[2020-02-11 20:13] adityagokula2210 commented on #25
This issue has been resolved in the latest version(*2.0.3*) of the Android SDK.

[2020-02-11 20:13] #25 closed, assigned to nobody

[2020-03-11 07:46] yadavmangesh opened #27 "Customization in calling UI"
**Describe the issue**

Features Added and Improvement
1.  Customizable  UI.
2.  Ability to switch between multiple audio sources.
3.  Easy integration and full backward compatibility.
4.  Ability to customize the default UI.

[2020-03-19 01:56] hilmyas commented on #27
"Ability to switch between multiple audio sources." -> how to do that?

[2020-03-19 10:29] jitvarpatil commented on #27
@hilmyas we have added this functionality in our latest SDK `v2.1.0-beta2`. For more details on this, you can follow the documentation at the following link:

https://prodocs.cometchat.com/v2.1/docs/android-calling

[2020-03-19 22:07] #27 closed, assigned to jitvarpatil

[2020-05-03 23:59] rsanjuan87 opened #28 "Could not resolve com.squareup.okhttp3:okhttp:3.12.+"
Hi a have added the

[code]

to my project dependencies
Android Studio build ok while only while is online.
when is offline show this error, what I can do?

[code]

what I can do?

[2020-05-05 11:13] adityagokula2210 commented on #28
Hello @rsanjuan87
Can you please disable the offline mode once and sync gradle once to make sure that the dependencies have been downloaded correctly.
Incase you still face the same issue, please share with me both app and project level gradle files for your project so that i can try and replicate this at my end and provide you with a solution at the earliest.

Thanks

[2020-05-05 13:24] rsanjuan87 commented on #28
Android Studio builds OK when is Online, but when I need to build Offline that happend
Here are my build.gralde files
[files.zip](https://github.com/cometchat-pro/android-chat-sdk/files/4580951/files.zip)

[2020-05-06 20:10] rsanjuan87 commented on #28
Any solution?

[2020-05-07 05:27] adityagokula2210 commented on #28
@rsanjuan87
i have a couple of questions i need to ask:
1. Any specific reason why you are using offline mode.
2. Can you provide me with the version of the Android Studio you are using
3. Can you once switch to online mode..invalidate the caches and restart Android Studio and then try again in offline mode.
The only possible reason i can see for this is that the okhttp dependency is not downloade

[2020-05-08 07:55] rsanjuan87 commented on #28
@adityagokula2210
1) I use offline mode because I don't have a full time connection
2) I have the latest Android Studio, but even with 3.6.1 use to build offline  without comet
3) I already clean, invalidate and restart that a few times, sync, build run online like, I use to do and then do everything offline
4) if I remove cometChat dependency and all work made with chat, my project builds even of

[2020-05-12 06:08] rsanjuan87 commented on #28
Any news?

[2020-05-12 08:51] Salmancs43 opened #29 "Exception cannot convert String to JSON"
When the metadata is set in call object it returns a string instead of JSONObject in response. which throws the exception cannot convert String to JSON Object as SDK end.

[2020-05-12 12:04] adityagokula2210 commented on #29
Hello @Salmancs43
We are aware of this issue and this will be resolved in our next API Release scheduled for end of this week. You can follow the below Github Issue to track the progress for this:

https://github.com/cometchat-pro/rest-api/issues/17

I will be closing this issue as we would like to have a single channel of communication.
Thans

[2020-05-12 12:04] #29 closed, assigned to nobody

[2020-05-14 22:32] adityagokula2210 commented on #28
Hey @rsanjuan87
Can you please run the command

**gradlew app:dependencies**

and share the output with me

Thanks

[2020-05-17 19:28] rsanjuan87 commented on #28
here is the output

[app_dependencies.log](https://github.com/cometchat-pro/android-chat-sdk/files/4640864/app_dependencies.log)

thanks

[2020-05-21 04:27] adityagokula2210 opened #30 "Timeout Issue while connecting to a Call"
I try to call, user at the other end accept it n then the call ends automatically n im recieving this error in log
: [features/base/lib-jitsi-meet] Failed to load config from https://rtc-us.cometchat.io/config.js?room=1589886198a68b1c84efd5aae25e13ba9148eed9186e6b510c Error(Error){“message”:“timeout”}

For more information please check:

https://forum.cometchat.com/t/audio-and-video-calling-issue/

[2020-05-21 04:28] adityagokula2210 commented on #30
We were able to generate the issue at our end. However, the issue seems to be very random and was not generated every single time we tested. We have gone ahead and added a couple of failsafes for the Calling mechanism at our end. Also, we have added a retry logic if the timeout issue is encountered.
Now the SDK will try to connect to the call 3 times, if it encounters the timeout error.
We should

[2020-05-27 14:14] rsanjuan87 commented on #28
Any solution?

[2020-05-29 08:19] adityagokula2210 commented on #30
Fixed in version 2.0.4

[2020-05-29 08:19] #30 closed, assigned to nobody

[2020-05-29 10:59] adityagokula2210 commented on #28
Hello @rsanjuan87
Unfortunately i could not replicate this at my end. However, while digging into this i did encounter the below issue created for gradle which is exactly the same thing that is happening in your case
https://github.com/gradle/gradle/issues/10934
Do let me know if the workarounds mentioned in the issue work for you. In case , you are still facing the issue. please let me know so th

[2020-05-30 16:06] rsanjuan87 commented on #28
Thanks a lot!!! that works !!! You rocks!!!

[2020-05-30 16:06] #28 closed, assigned to nobody

[2020-05-30 16:08] rsanjuan87 commented on #28
What I did

[code]

[2020-07-07 17:48] Andro-Samurai opened #31 "calls not working on Android 10 (version 2.0.6)"
### calls keep disconnecting only on **Android 10** only
works fine on iOS & Android 5.0.2 & Android 8.0 & Android 9.0
![Screenshot_20200707-204420](https://user-images.githubusercontent.com/25287348/86821396-0253e700-c093-11ea-8600-be075b9b4630.png)

[2020-07-08 10:13] OmarMahmoud120 commented on #31
same here on android 10 the log
E/JitsiMeetSDK(11993): [features/base/lib-jitsi-meet] Failed to load config from https://rtc-eu.cometchat.io/config.js?room=15942020605de9f837c9968c6a7fd51c1e729234170597e185 Error(TypeError){"message":"Network request failed"}
its seems that config  timeout in2.5 seconds. Any chance the server is somehow taking longer to respond?
check this [issue](https://github.c

[2020-07-08 10:42] adityagokula2210 commented on #31
Hello @Andro-Samurai
Can you please confirm the version of the Android SDK you are using.

[2020-07-08 10:44] adityagokula2210 commented on #31
Hello @Andro-Samurai
We are checking this at our end. We will get back to you at the earliest.

Thanks

[2020-07-08 10:44] Andro-Samurai commented on #31
Android SDK 2.0.6 also had the same problem on 2.0.3

[2020-07-08 10:54] adityagokula2210 commented on #31
@Andro-Samurai
Can you please share the logs with me so that I can investigate this better.

Thanks

[2020-07-08 10:59] adityagokula2210 commented on #31
@Andro-Samurai
Also, it would be great if you could check with some other device and confirm if this is happening in all the android 10 devices. I just tested on android 10 and everything seems to be working as expected.

Thanks

[2020-07-08 11:03] Andro-Samurai commented on #31
same problem on:
Samsung S10+
Nokia 7 Plus

and on emulator (Pixel 3 )

[2020-07-08 11:03] Andro-Samurai commented on #31
@adityagokula2210
same problem on:
Samsung S10+
Nokia 7 Plus

and on emulator (Pixel 3 )

[2020-07-08 11:09] Andro-Samurai commented on #31
@adityagokula2210

`2020-07-08 14:03:34.733 13724-13724/com.app.dakhterapp E/CallMeta: Call{sessionId=‘1594206205a3f5aba3998db11501e308f47e686839724f7158’, callStatus=‘ongoing’, action=‘ongoing’, rawData=‘{“action”:“ongoing”,“entities”:{“by”:{“entity”:{“uid”:“user_42”,“name”:“Test3 test test”,“status”:“available”,“role”:“default”,“lastActiveAt”:1594203716},“entityType”:“user”},“for”:{“entity”:{“ui

[2020-07-08 11:09] Andro-Samurai commented on #31
@adityagokula2210

2020-07-08 14:03:34.733 13724-13724/com.app.dakhterapp E/CallMeta: Call{sessionId=‘1594206205a3f5aba3998db11501e308f47e686839724f7158’, callStatus=‘ongoing’, action=‘ongoing’, rawData=‘{“action”:“ongoing”,“entities”:{“by”:{“entity”:{“uid”:“user_42”,“name”:“Test3 test test”,“status”:“available”,“role”:“default”,“lastActiveAt”:1594203716},“entityType”:“user”},“for”:{“entity”:{“uid

[2020-07-08 11:13] adityagokula2210 commented on #31
Thanks for the information @Andro-Samurai . I will get back to you at the earliest.

Thanks

[2020-07-10 20:03] rsanjuan87 opened #32 "Entry name 'XPP3_1.1.4c_VERSION'"
Hi
I'm getting this error

`Entry name 'XPP3_1.1.4c_VERSION' collided`

versions of gradle 6.5, and android_gradle_plugin 4.0.0
here is the output of `gradlew app:dependencies`

[deps.log](https://github.com/stripe/stripe-android/files/4900297/deps.log)

[code]

about xpp3

`xpp3 defines classes that conflict with classes now provided by Android. Solutions include finding newer versions or alterna

[2020-07-11 14:30] Andro-Samurai commented on #31
@adityagokula2210 any update on this? or at least a walk around to make Android 10 work!!

[2020-07-11 22:29] Andro-Samurai commented on #31
UPDATE: version 2.0.7 does not work on ANdroid 10 too!!

[2020-07-12 12:31] rsanjuan87 commented on #32
Please any help?

[2020-07-13 15:41] adityagokula2210 commented on #32
Hello @rsanjuan87
Can you please share your app-level gradle file with me so that I can have a look at this and try to regenerate this at my end. This will help me investigate better.

Thanks

[2020-07-13 15:44] adityagokula2210 commented on #31
Hello @Andro-Samurai
Can you please provide me with the project-level, app-level gradle files, and also the gradle.properties file for your project so that I can have a look. This seems to be a problem with the R8 code shrinker which has been incorporated with the latest versions of android studio and gradle plugin.

Thanks

[2020-07-14 10:34] Andro-Samurai commented on #31
Hello @adityagokula2210
here you go.

By the way, when we removed the firebase firestore library from our app, comet chat worked correctly. but we can not remove firestore because our app is built on it

regards,

[gradles.zip](https://github.com/cometchat-pro/android-chat-sdk/files/4918198/gradles.zip)

[2020-07-15 02:25] rsanjuan87 commented on #32
Hello @adityagokula2210
here is
[app_build.gradle.zip](https://github.com/cometchat-pro/android-chat-sdk/files/4922511/app_build.gradle.zip)
thanks

[2020-07-16 15:15] OmarMahmoud120 commented on #31
api 'com.google.firebase:firebase-firestore:21.3.0'
        implementation 'com.google.firebase:firebase-common:19.3.0'
        implementation 'androidx.annotation:annotation:1.1.0'

[2020-07-17 10:47] adityagokula2210 commented on #32
Hello @rsanjuan87 ,
I am checking this. Please allow us some time.

Thanks

[2020-07-17 11:07] adityagokula2210 commented on #32
Hello @rsanjuan87,
Unfortunately, i was not able to generate the issue at my end. However, can you please check by replacing

**implementation 'com.cometchat:pro-android-chat-sdk:2.0.3'**

with

**implementation ('com.cometchat:pro-android-chat-sdk:2.0.3'){
        exclude group: 'xpp3', module: 'xpp3'
    }**

This should exclude the xpp module from CometChat dependency and it should work. Please

[2020-07-21 22:41] rsanjuan87 commented on #32
I tried but, nop, it doesnt works for me
waiting news and new updates

[2020-07-21 23:11] adityagokula2210 commented on #32
Hello @rsanjuan87
Revert the previous changes suggested by me and please try adding the below lines to the app-level build.gradle file. This should get it to work:

**configurations {
  all*.exclude group: 'xpp3', module: 'xpp3'
}**

Thanks

[2020-07-22 19:14] prabhuchandu opened #33 "[Min Sdk 19, Target Sdk 29] Unable to bind toolbar on setSupportActionBar while initClickAction"
intiClickAction from settings activity to profile activity is crashing the app

**To Reproduce**
I'm enclosing errors in a text file
[errors.txt](https://github.com/cometchat-pro/android-chat-sdk/files/4961888/errors.txt)

**Expected behavior: Should open ProfileActivity from SettingsActivity**

  App should open profile information from support action bar by binding toolbar on it.

**App is getti

[2020-07-26 04:41] #33 closed, assigned to nobody

[2020-08-19 14:40] #32 closed, assigned to nobody

[2020-08-24 10:19] Andro-Samurai commented on #31
the issue is still happening on version v2.1.0
comet chat does not work with firebase firestore on Android 10

[2020-09-04 23:14] adityagokula2210 commented on #20
Hello,
We have released a new version of the Android SDK (2.1.0). This version consists of a totally new Calling module which is more optimized and allows customizations. Please upgrade to the latest version and you should be able to switch the audio output.
Thanks

[2020-09-04 23:14] #20 closed, assigned to nobody

[2020-09-04 23:14] adityagokula2210 commented on #19
Hello,
We have released a new version of the Android SDK (2.1.0). This version consists of a totally new Calling module which is more optimized and allows customizations. Please upgrade to the latest version and you should not face this issue again. Please do provide us with your feedback.
Thanks

[2020-09-04 23:14] #19 closed, assigned to nobody

[2020-09-04 23:15] adityagokula2210 commented on #16
Fixed in 2.1.0

[2020-09-04 23:15] #16 closed, assigned to nobody

[2020-09-04 23:15] adityagokula2210 commented on #17
Fixed in 2.1.0

[2020-09-04 23:15] #17 closed, assigned to nobody

[2020-09-04 23:15] adityagokula2210 commented on #21
Fixed in 2.1.0

[2020-09-04 23:15] #21 closed, assigned to nobody

[2020-09-09 14:55] masterofn1 opened #34 "[2.1.0] User's Last Active time is incorrect"
**Describe the bug**
User's Last Active time is incorrect even after updating the user last Active time

**To Reproduce**
Steps to reproduce the behavior:
1. Update the user status
2. Update the last active time of the said user

**Expected behavior**

 The submitted "lastActiveAt" of the certain user should be the latest one being passed on the sdk's method
[CometChat.updateUser](https://prodocs.

[2020-09-15 14:53] adityagokula2210 commented on #34
Hello @masterofn1 ,
The lastActiveAt field cannot be updated via the SDKs. The lastActiveAt field is set based on the user sessions being created and destroyed based on the connection to the CometChat Web-socket server.

Hope this helps.
Thanks

[2020-09-15 14:55] masterofn1 commented on #34
What will you recommend for us to capture the last active time of the user? it always pointed back to year 1970

[2020-09-15 14:58] adityagokula2210 commented on #34
@masterofn1
The lastActiveAt field will only be set for the users who have logged in at least once into CometChat. What I would suggest is that you check if the lastActiveAt field. If it is set to 0, it means that the user has not logged in to CometChat. If the lastActiveAt field is not 0, it means it shows the timestamp of the last time the user was connected to the CometChat web-socket servers.

[2021-01-11 09:40] haris-qayyum opened #35 "[2.1.6] My whole application start crashing just because of cometchat internal crash"
**Describe the bug**
First of all, I'm not using comet-chat UI Kit, instead, I'm using comet-chat SDK with my own UI... Everything was working fine till the last 2 days.. but today (after the weekend) when I'm sending any message or receiving any calls etc, my application is being crashed with an error

java.lang.NullPointerException: Attempt to invoke virtual method 'boolean java.lang.String.equa

[2021-01-11 10:27] adityagokula2210 commented on #35
Hello @haris-qayyum ,
Can you please share the code snippet you are using to mark the message as read?

[2021-01-11 10:31] haris-qayyum commented on #35
Hi @adityagokula2210,
I'm calling the following method to mark any message as read.
    `public static void markMessageAsRead(BaseMessage baseMessage) {
        CometChat.markAsRead(baseMessage.getId(), baseMessage.getSender().getUid(), CometChatConstants.RECEIVER_TYPE_USER);
    }`

[2021-01-11 10:33] adityagokula2210 commented on #35
Are you sure you are using the 2.1.6 version of the Android SDK. This method existed in 1.8.x versions of the SDK and was removed starting version 2.0.x.
Can you please confirm the version of the SDK you are using..?

[2021-01-11 10:39] adityagokula2210 commented on #35
Can you please share your appId and a couple of sample users so that I can test this at my end?

[2021-01-11 10:40] haris-qayyum commented on #35
implementation 'com.cometchat:pro-android-chat-sdk:2.1.1'

[2021-01-11 10:41] haris-qayyum commented on #35
public static String APP_ID = "27834d968f8f279";

You can use **Client One** user.

[2021-01-11 10:41] adityagokula2210 commented on #35
Also, can you please try using version 2.1.6 and confirm if the same crash is happening in 2.1.6 version too ?

[2021-01-11 10:42] haris-qayyum commented on #35
I even tried with your latest beta version, but still, I was getting the same crashing..

[2021-01-11 10:43] adityagokula2210 commented on #35
Can you give me 2 UIDs that i can use for testing at my end?

[2021-01-11 10:44] haris-qayyum commented on #35
232801eb-b1fb-44ff-aaf5-84c3a97757a0
70b34158-3204-4dd1-9b6c-7b5653a25b0a

[2021-01-11 10:45] haris-qayyum commented on #35
I was thinking if you guys can handle that exception in any try/catch block then It never crash the main app.

[2021-01-11 10:47] haris-qayyum commented on #35
can you please check your database to see such records where receipt type is null?

[2021-01-11 11:46] adityagokula2210 commented on #35
Hello @haris-qayyum
Can you please stop using the two UIDs for testing as we are using them here and it's causing us some problems in investigating the crash

[2021-01-11 11:48] haris-qayyum commented on #35
Yes, sure.. Sorry for the inconvenience..

[2021-01-11 12:21] adityagokula2210 commented on #35
@haris-qayyum
I can see that the same users are logged in from some iOS devices too. Can you please log the users out of all the devices or kill all the apps and then let me know so that we can check this

Thanks

[2021-01-11 12:26] haris-qayyum commented on #35
Sorry again, I asked everyone to not use these but don't know who is using these accounts..
So, Please use these accounts, they are new and not in use by any developer here.
14a35922-8187-4bc2-aff0-98a5b39cd83a
878a6e4c-8c0d-4de8-8265-8d85181a2076

[2021-01-11 12:27] adityagokula2210 commented on #35
Thanks

[2021-01-14 10:52] adityagokula2210 commented on #35
Hello @haris-qayyum
We have identified the issue. The issue will only be encountered when the same user is logged in from 1 android device and 1 iOS device. There is some inconsistency with the format of the data shared by the iOS SDK while marking the message read when there are multiple devices involved. We have informed the iOS team about this and we will be releasing a patch in the next iOS SD

[2021-02-03 11:04] adityagokula2210 commented on #35
Issue fixed in version 2.1.7-beta3.

[2021-02-03 11:04] #35 closed, assigned to nobody

[2021-02-15 04:19] #34 closed, assigned to nobody

[2021-07-04 09:17] Andro-Samurai opened #36 "[2.3.5] Calls are not working on some countries on Android Version Only"
**Describe the bug**
our client from Country of Oman cannot start chat from Android only, iOS is working fine
we tried multiple WIFI networks
we've tried the same app the same phones from another country and it works fine
We've tried your sample and the same issue is happening.

here is the log
[cometchat+(1).txt](https://github.com/cometchat-pro/android-chat-sdk/files/6759651/cometchat%2B.1.txt)

[2021-07-12 16:20] proveshapyne commented on #31
Hello @Andro-Samurai,

I am closing out this ticket as we have reached out to you over email. We can stay connected there.
For further technical help, please feel free to write to help@cometchat.com.

Regards,
Provesha

[2021-07-16 10:20] #31 closed, assigned to jitvarpatil, adityagokula2210

[2021-08-04 10:39] proveshapyne commented on #36
Hey @Andro-Samurai,

I wanted to let you know that I am closing this ticket as we are communicating via email. We can stay connected there.

Thank you!

Regards,
Provesha

[2021-08-19 18:55] ecemmine opened #37 "[2.3.5] Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'int java.util.Timer.purge()' on a null object reference com.cometchat.pro.core.PingController.stopPing"
App crashes, crash log:

com.cometchat.pro.core.PingController.stopPing (PingController.java:3)
com.cometchat.pro.core.CometChat.loginFail (CometChat.java:1)
com.cometchat.pro.core.CometChat.login (CometChat.java:139)
utils.CometChatHelper.internalLogin (CometChatHelper.java:56)
utils.CometChatHelper.access$internalLogin (CometChatHelper.java:16)
utils.CometChatHelper$internalLogin$1.onError (Come

[2021-08-20 05:37] adityagokula2210 commented on #37
@ecemmine
Can you please let us know when this issue is encountered. It would be really helpful if you could let us know the steps to reproduce the issue.

[2021-08-23 08:14] ecemmine commented on #37
@adityagokula2210 I saw this crash in firebase logs. Encountered while the app was in the background

[2021-08-25 18:21] adityagokula2210 commented on #37
Hello @ecemmine
Unfortunately,
We were not able to reproduce the crash at our end. However, we have added a few checks in the SDK and released a new version of the CometChat SDK (version 2.4.1). Please upgrade to the latest version and that will make sure that this crash is not encountered again.

[2021-08-25 18:21] #37 closed, assigned to nobody

[2021-08-25 18:22] #36 closed, assigned to nobody

[2021-09-27 06:23] rolandgerges opened #38 "Could not run on android studio"
Trying to run this project on android studio and receiving the below error:
_Could not GET 'https://dl.bintray.com/cometchat/pro/com/cometchat/pro-android-chat-sdk/2.2.1/pro-android-chat-sdk-2.2.1.pom'. Received status code 403 from server: Forbidden_
_Could not HEAD 'https://dl.bintray.com/cometchat/pro/com/cometchat/pro-android-calls-sdk/2.1.1/pro-android-calls-sdk-2.1.1.pom'. Received status co

[2021-09-27 15:08] adityagokula2210 commented on #38
Hello @rollyy
Due to the shutdown of Bintray services, we had to move the Maven repository where the CometChat Android SDKs were hosted to a new one. Thus, the versions of the Android SDK below 2.3.0 are not available anymore.
I would suggest you try using the latest version of the Android SDK (2.4.1). Also, you will need to change the URL of the maven repository in the project level Gradle file o

[2021-12-15 16:43] #38 closed, assigned to nobody